@{
    ViewBag.Title = "OKFortal Hakkında";
}
<style type="text/css">
    div.okfortal div.left {
        float: left;
        width: 65%;
    }
    div.okfortal div.right {
        float: right;
        width: 34%;
    }
    div.okfortal div.ok-table {
        background-color: #fff;
        padding: 7px;
        margin-bottom: 10px;
        border: 2px solid #ccc;
        border-radius: 3px;
        box-shadow: rgba(0, 0, 0, 0.4) 0 0 5px;
        font-family: 'Segoe UI';
    }
        div.okfortal div.ok-table div.title {
            margin-bottom: 5px;
            font-size: 19px;
            color: #555;
        }
        div.okfortal div.ok-table div.title span {
            float: right;
            font-size: 14px;
            color: #ccc;
            line-height: 27px;
        }
        div.okfortal div.ok-table div.content {
            text-align: justify;
            font-size: 15px;
            color: #9c9c9c;
            line-height: 25px;
        }
</style>
<div class="okfortal">
    <div class="ok-table">
        <div class="title">OKFortal v.1 yayınlandı<span>01.03.2013</span></div>
        <div class="content">
            Bu web sayfasını daha sonra yeniden yükle.<br />
            İnternet bağlantınızı kontrol edin. Kullanıyor olabileceğiniz tüm yönlendirici, modem veya diğer ağ cihazlarını yeniden başlatın.<br />
            DNS ayarlarınızı kontrol edin. Bunun ne anlama geldiğini bilmiyorsanız ağ yöneticinizle bağlantı kurun.<br />
            Aşağıdaki adımları uygulayarak ağ tahminini devre dışı bırakmayı deneyin: Şu seçeneğe gidin: Chrome menüsü > Ayarlar > Gelişmiş ayarları göster... ve "Sayfa yükleme performansını iyileştirmek için ağ eylemlerini tahmin et" ile ilgili seçimi kaldırın. Bu işlem sorunu çözmezse daha iyi performans için bu seçeneğin yeniden işaretlenmesini öneriyoruz.<br />
            Google Chrome uygulamasını güvenlik duvarınızda veya virüsten koruma yazılımınızın ayarlarında izin verilen programlara ekleyin. Uygulama zaten izin verilen programlar arasındaysa izin verilen programlar listesinden silip tekrar eklemeyi deneyin.<br />
            Proxy sunucu kullanıyorsanız, proxy sunucunun çalışıyor olduğundan emin olmak için proxy ayarlarınızı kontrol edin veya ağ yöneticinize danışın. Proxy sunucu kullanmamanız gerektiğine inanıyorsanız, proxy ayarlarınızı düzenleyin: Şu seçeneğe gidin: Chrome menüsü > Ayarlar > Gelişmiş ayarları göster... > Proxy ayarlarını değiştir... > LAN Ayarları ve "LAN için proxy sunucusu kullan" onay kutusunun seçimini kaldırın.
        </div>
    </div>
</div>