
<div class="table">
    <div class="title">Davet</div>
    <div class="content" style="text-align: justify;">
        Sayın İlgili;<br />

Kimyagerler Derneği’nin de organizasyon ortağı olduğu 1.’si Bursa, Uludağ Üniversitesi tarafından gerçekleştirilmiş olan Ulusal Kimya Öğrenci Kongresinin  5.’si 17-19 Mayıs 2014 tarihleri arasında İstanbul Üniversitesi bünyesinde gerçekleştirilecektir. Bundan önceki öğrenci kongrelerinin 2.’si Bolu, Abant İzzet Baysal Üniversitesi, 3.’sü Aydın,  Adnan Menderes Üniversitesi  ve 4.’sü Manisa, Celal Bayar Üniversitesi tarafından başarılı bir şekilde organize edilmiştir. Organizasyonu başlatmış ve devamının getirilmesini sağlayan tüm değerli öğrenci arkadaşlarımıza, saygıdeğer hocalarımıza ve kongrelere ilgi göstermiş olan sektör ve kamu kuruluşlarına teşekkürlerimizi sunarız.
Bu organizasyonun da daha önceki yıllar gibi, başarılı bir şekilde geçirilebilmesi için başta tüm üniversitelerin kimya bölümleri olmak üzere, ülkemizdeki kimya sektörünün ve kamu kuruluşlarının öncülerinin de katılımının sağlanması ve organizasyonun daha geniş bir kitleye hitap etmesi düşüncesindeyiz. Bu kapsamda tüm kimya bölümü öğrenci arkadaşlarımızın, varsa poster veya sözlü sunumlarıyla birlikte, hocalarımızı ve siz değerleri misafirlerimizi İstanbul’da ağırlayarak güzel bir kongre geçirilmesini arzuluyoruz. 
İstanbul Üniversitesinin bünyesinde gerçekleştirilecek olan 5. Ulusal Kimya Öğrenci Kongresi’nde sizleri aramızda görmekten şeref ve mutluluk duyarız.
<br />
        <br />
Saygılarımızla<br /><br />


Kongre Ekibi Adına,
 
Ali TUNA                                                                                             Prof.Dr.Süleyman TANYOLAÇ
Öğrenci Kurulu Başkanı                                                                 Kongre Düzenleme Kurulu Başkanı                                                             

    </div>
</div>