<?xml version="1.0"?>
<configuration>

  <system.web>
    <customErrors mode="Off" />
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  <system.serviceModel>
    <standardEndpoints>
      <webHttpEndpoint>
        <standardEndpoint helpEnabled="true" automaticFormatSelectionEnabled="true"/>
      </webHttpEndpoint>
    </standardEndpoints>
    <services>
<service name="SocialObisisService.Service1">
<endpoint kind="webHttpEndpoint"
contract="SocialObisisService.IService1" />
</service>
</services>



    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IObisisMobileService" />
      </basicHttpBinding> 
    </bindings>
    <client>
      <endpoint address="http://obisis.erciyes.edu.tr/mws/ObisisMobileService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IObisisMobileService"
        contract="ObisisServiceReference.IObisisMobileService" name="BasicHttpBinding_IObisisMobileService" />
    </client>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, set the value below to false before deployment -->
          <serviceMetadata httpGetEnabled="true"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
 
 <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>

</configuration>
