<?xml version="1.0"?>
<configuration>

  <system.web>
    <customErrors mode="Off" />
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  <system.serviceModel>
    <client>
      <endpoint address="http://obisis.erciyes.edu.tr/mws/ObisisMobileService.svc"
        binding="basicHttpBinding"
        contract="MobileServiceReference.IObisisMobileService" name="BasicHttpBinding_IObisisMobileService" />
      <endpoint address="http://mobil.erciyes.edu.tr/EruServiceWeb/EruWebServis.svc"
        binding="basicHttpBinding"
        contract="EruWebServiceReference.IEruWebServis" name="BasicHttpBinding_IEruWebServis" />
    </client>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, set the value below to false before deployment -->
          <serviceMetadata httpGetEnabled="true"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
 <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>

</configuration>
<!--
<?xml version="1.0"?>
<configuration>

  <system.web>
    <customErrors mode="Off" />
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  <system.serviceModel>
    <client>
      <endpoint address="http://obisis.erciyes.edu.tr/mws/ObisisMobileService.svc"
        binding="basicHttpBinding"
        contract="MobileServiceReference.IObisisMobileService" name="BasicHttpBinding_IObisisMobileService" />
      <endpoint address="http://mobil.erciyes.edu.tr/EruServiceWeb/EruWebServis.svc"
        binding="basicHttpBinding"
        contract="EruWebServiceReference.IEruWebServis" name="BasicHttpBinding_IEruWebServis" />
    </client>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />

    <services>
      <service behaviorConfiguration="WebServiceBehavior" name="ObisisService.Service1">
        <endpoint address="" binding="webHttpBinding" contract="ObisisService.IService1" behaviorConfiguration="jsonBehavior" />
        <endpoint address="soap" binding="basicHttpBinding" contract="ObisisService.IService1"/>
      </service>
    </services>

    <behaviors>
      <endpointBehaviors>
        <behavior name="jsonBehavior">
          <webHttp defaultOutgoingResponseFormat="Json" />
        </behavior>
      </endpointBehaviors>

      <serviceBehaviors>
        <behavior name="WebServiceBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>

    <bindings>
      <webHttpBinding>
        <binding crossDomainScriptAccessEnabled="false" name="httpBinding" />
      </webHttpBinding>
    </bindings>

  </system.serviceModel>


  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <directoryBrowse enabled="true"/>
  </system.webServer>

</configuration>


-->