<?xml version="1.0"?>
<configuration>

  <system.web>
    <customErrors mode="Off"/>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IObisisMobileService" />
        <binding name="BasicHttpBinding_IEruWebServis" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://obisis.erciyes.edu.tr/mws/ObisisMobileService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IObisisMobileService"
        contract="ObisisWebService.IObisisMobileService" name="BasicHttpBinding_IObisisMobileService" />
      <endpoint address="http://mobil.erciyes.edu.tr/EruServiceWeb/EruWebServis.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IEruWebServis"
        contract="ErciyesWebService.IEruWebServis" name="BasicHttpBinding_IEruWebServis" />
    </client>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, set the value below to false before deployment -->
          <serviceMetadata httpGetEnabled="true"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
 <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>

</configuration>