@model Category
@*
<div style="display: table; width: 1000px;">
    <div style="width: 19%; float: left; margin-right: 30px;">
        @Html.Raw(OKPort.Functions.OKParser.GetHtml("<widgets section=\"{Current.SectionId}\" region=\"category\" position=\"1\">{Widget}</widgets>"))
    </div>
    <div style="width: 75%; float: left;">
        @Html.Raw(OKPort.Functions.OKParser.GetHtml("<widgets section=\"{Current.SectionId}\" region=\"category\" position=\"2\">{Widget}</widgets>"))
    </div>
</div>*@
@Html.Raw(OKPort.Functions.OKParser.GetHtml(Model.Section.CategoryTemplate))