@{
    ViewBag.Title = "Sitemize şuanda ulaşılamıyor";    
}
<div style="padding: 15px; text-align: justify; font-size: 17px">
        @Html.Raw(OK.ClubConfig("maintenance-message"))
</div>
@if (Session["memberinfo"] == null)
{
    <div style="float: right;">
        <small>Eğer yönetici iseniz giriş yapabilirsiniz</small>
    </div>
}