/*
    MODERN STYLE THEME FOR BGK
    DESIGNED BY OĞUZHAN KİYAR
    ALL RIGHTS RESERVED
*/

body {
	background: #f5f5f5;
	color: gray;
	margin: 0;
    font-family: 'Segoe UI', Tahoma, Arial, Helvetica, sans-serif;
	font-size: 15px;
    overflow-y: scroll;
    cursor: default;
}
#loading {
    position: fixed;
    display: none;
    left: 0;
    bottom: 0;
    background: url('images/loading.gif');
    margin: 0 0 25px 45px;
    padding: 32px;
}
#top {
    display: none;
    position: fixed;
    right: 0;
    bottom: 0;
    background: url('images/up_circular.png');
    padding: 13px;
    margin: 0 75px 25px 0;
    cursor: pointer;
    border-radius: 25px;
}
    #top:hover {
        background-color: #fff;
    }
/*FOR BROWSER DIFFERENCES*/
div, ul, li, span, input, select, textarea {
	padding: 0;
	margin: 0;
	list-style: none;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}


/*BASIC ELEMENTS STYLE*/
header, footer, nav, section {
    display: block;
}
p {
    margin: 0.25% 0;
}
hr {
    border: 1px dotted gray;
    border-bottom: 0;
}
h1, h2, h3, h4, h5, ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
}
a:link {
    color: #1FA2E1;
    text-decoration: none;
}
a:visited {
    color: #1FA2E1;
    text-decoration: none;
}
a:hover {
    color: #333333;
}
a:active {
    color: #FFAB00;
}

/*PAGING STYLE*/
div.paging {
    display: table;
    background-color: #fff;
    float: right;
    line-height: 18px;
    padding: 2px 10px;
    margin-bottom: 8px;
    font-size: 12px;
    color: #666;
    box-shadow: 0 0 5px #ccc;
}
    div.paging ul li {
        display: inline-block;
        font-weight: bold;
        margin: 2px;
    }
        div.paging ul li img {
            vertical-align: middle;
        }
        div.paging ul li.first img {
            background: url('images/first.gif') center center no-repeat;
            padding: 8px;
        }
        div.paging ul li.previous img {
            background: url('images/previous.gif') center center no-repeat;
            padding: 8px;
        }
        div.paging ul li.next img {
            background: url('images/next.gif') center center no-repeat;
            padding: 8px;
        }
        div.paging ul li.last img {
            background: url('images/last.gif') center center no-repeat;
            padding: 8px;
        }
        div.paging ul li a {
            text-decoration: none;
            padding: 2px 6px 2px 6px;
            color: #000;
        }
        div.paging ul li a:hover {
            background-color: #f5f5f5;
            color: #000;
            padding: 1px 5px 1px 5px;
            border: 1px solid Gray;
            cursor: pointer;
        }
        div.paging ul li.active {
            background-color: #eee;
            color: Black;
            padding: 1px 5px 1px 5px;
            border: 1px solid gray;
            cursor: default;
        }

div.form {
    display: table;
    width: 100%;
}
    div.form ul {
        display: table;
        line-height: 35px;
        width: 100%;
    }
        div.form ul li {
            display: inline-table;
            float: left;
            width: 100%;
        }
            div.form ul li:first-child {
                color: #000;
                font-weight: bold;
                font-family: 'Trebuchet MS';
            }
        /*div.form ul:last-child li {
            display: inline-table;
            width: auto;
            margin-top: 7px;
        }*/
/*FORM ELEMENTS STYLE*/
input[type="text"], input[type="select"], input[type="number"], input[type="date"], input[type="datetime"], input[type="password"], input[type="email"], textarea, select {
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    outline: none;
    min-width: 300px;
    padding: 8px;
    font-size: 10pt;
    font-family: 'Segoe UI';
    color: #666;
    width: 100%;
}
select {
    min-width: 315px;
}
textarea {
    min-height: 100px;
}
input[type="button"], input[type="submit"] {
    background-color: darkred;
    border: none;
    box-shadow: 0 0 3px #ff0000;
    margin-left: 8px;
    padding: 7px 10px;
    color: white;
    text-shadow: 0 0 3px #fff;
    font-family: 'Segoe UI';
    border-radius: 3px;
}
    input[type="button"]:hover, input[type="submit"]:hover {
        background-color: #000;
        color: #fff;
        cursor: pointer;
    }
    input[type="button"]:active, input[type="submit"]:active {
        background-color: #fff;
        color: darkred;
    }
input.input-validation-error {
    border: 1px solid #f00;
    background-color: #fee;
}
div.buttons {
    float: right;
    margin-bottom: 7px;
    padding-right: 2px;
}




div.logo {
	width: 1050px;
	margin: auto;
	clear: both;
	height: 125px;
}
	div.image {
		background: url('images/EruLogolu.png') no-repeat;
		height: 120px;
		width: 75%;
		float: left;
        cursor: pointer;
	}
	div.social {
        display: table;
		float: right;
		background-color: #f9f9f9;
		font-size: 20px;
		text-align: center;
		padding: 0 10px;
		margin: 15px 10px 0;
		box-shadow: 0 0 5px #ccc;
	}
		 div.social a {
            display: inline-table;
			margin: 5px;
            padding: 13px;
		}
            div.social a.facebook {
                background: url('images/facebook.png') no-repeat;
            }
            div.social a.twitter {
                background: url('images/twitter.png') no-repeat;
            }
	div.menu-bg {
		position: absolute;
		left: 0;
		background: url('images/menu-bg.png');
		line-height: 36px;
		box-shadow: 0 0 5px #000;
		z-index: -999;
	}
    div.menu {
		line-height: 36px;
		font-family: Trebuchet MS;
		z-index: 999;
		width: 1050px;
		margin: auto auto 2px;
	}
		 div.menu ul {
			display: inline-table;
			padding: 0 2px;
		}
			 div.menu ul li {
				display: inline-block;
			}
				div.menu ul li a {
					padding: 9px 14px;
					text-shadow: #fff 0.1em 0.1em 0.4em;
					color: #fff;
				}
				div.menu ul li a.active, div.menu ul li a:hover {
                    background-color: #1FA2E1;
					color: #fff;
				}
                    div.menu ul li a.home {
                        background: url('images/home.png') no-repeat center center;
                        vertical-align: middle;
                        padding-right: 20px;
                    }
				div.menu ul li a.home:hover {
					background-color: transparent;
				}

    div.page {
		background: #f9f9f9;
		width: 1050px;
		margin: auto;
	}
		div.container {
            display: table;
			border: 1px solid #fff;
			border-top: 0;
			border-bottom: 0;
			padding: 12px 10px 7px 10px;
            width: 100%;
		}
		 div.footer {
			background-color: #666;
			padding: 5px;
			color: #fff;
		}
		
		div.table {
			background-color: #fff;
			margin-bottom: 8px;
			box-shadow: 0 0 5px #ccc;
            border: 1px solid #ccc;
		}
			div.table div.title {
                background-color: #e9e9e9;
				font-family: 'Trebuchet MS';
				color: #666;
				font-size: 18px;
                line-height: 25px;
                border-bottom: 2px solid #ddd;
                padding: 5px 7px;
                text-shadow: #fff 0.05em 0.05em 0.2em;
			}
                div.table div.title a {
                    color: inherit;
                }
                div.table div.title:not(:first-child) {
                    border-top: 2px solid #ddd;
                }
                div.table div.title span {
                    float: right;
                    font-size: 13px;
                }
                    div.table div.title span a {
                        color: inherit;
                    }
			div.table div.content {
				display: table;
				width: 100%;
                font-size: 14px;
                line-height: 24px;
                padding: 5px;
			}
		div.gallery div.table {
			display: inline-table;
			max-width: 192px;
			margin-right: 5.3px;
			vertical-align: middle;
		}
		div.gallery div.table:last-child {
			height: 135px;
			margin-right: 0;
			padding-top: 55px;
		}
		div.gallery img {
            display: table;
			width: 100%;
			height: 125px;
		}
		div.table-1 {
			background-color: lightyellow;
		}
		div.table-2 {
			background-color: lightblue;
		}
		div.table-3 {
			background-color: pink;
		}
		div.table-3 {
			background-color: #ddd;
		}
		
		div.table-group-1 div.first {
			display: inline-table;
			width: 66%;
			margin-right: 5px;
            vertical-align: top;
		}
		div.table-group-1 div.second {
			display: inline-table;
			width: 33%;
            vertical-align: top;
		}
		div.table-group-2 div.first {
			display: inline-table;
			width: 33%;
			margin-right: 5px;
		}
		div.table-group-2 div.second {
			display: inline-table;
			width: 66%;
		}
		div.table-group-3 div.first {
			display: inline-table;
			width: 49.5%;
			margin-right: 5px;
		}
		div.table-group-3 div.second {
			display: inline-table;
			width: 49.5%;
		}
		div.table-group-4 div.first {
			display: inline-table;
			width: 33%;
			margin-right: 5px;
		}
		div.table-group-4 div.second {
			display: inline-table;
			width: 32.3%;
			margin-right: 5px;
		}
		div.table-group-4 div.third {
			display: inline-table;
			width: 33%;
		}











.online-member {
    background-color: #698b22;
    display: inline-table;
    border-radius: 2px;
    line-height: 0;
    padding: 1px;
    vertical-align: middle;
}
.offline-member {
    background-color: #ddd;
    display: inline-table;
    border-radius: 2px;
    line-height: 0;
    padding: 1px;
    vertical-align: middle;
}


div.post-info {
    display: table;
    background-color: #f9f9f9;
    border-top: 1px solid #ddd;
    padding: 5px;
    width: 100%;
    margin-top: 5px;
}
    div.post-info span {
        margin-right: 15px;
    }
        div.post-info span.date {
            /*background: url("http://mehmetduran.com/Content/style1/tarih.png") no-repeat;*/
        }
        div.post-info span.hit {
            /*background: url("http://mehmetduran.com/Content/style1/okunma.png") no-repeat;*/
        }
        div.post-info span.comment {
            /*background: url("http://mehmetduran.com/Content/style1/yorum.png") no-repeat;*/
        }
        div.post-info span.rating {
            /*background: url("http://mehmetduran.com/Content/style1/puan.png") no-repeat;*/
        }
            div.post-info span.rating a {
                background: url('http://icons.iconarchive.com/icons/visualpharm/ios7/16/star-icon.png') no-repeat;
                padding: 8px;
                display: inline-table;
            }
            div.post-info span.rating a.active {
                background: url('http://icons.iconarchive.com/icons/icojam/blue-bits/16/star-rating-icon.png') no-repeat;
            }
        span.continue {
            padding-bottom: -5px;
            position: absolute;
        }


        
                        /*div.list {
                            margin-top: 3px;
                            font-size: 14px;
                        }
                            div.list ul {
                                display: table;
                                width: 100%;
                            }

                        div.list ul li {
                            display: inline-table;
                            padding: 4px;
                        }
                        div.list ul:hover {
                            background-color: #f5f5f5;
                        }
                            div.list ul li:last-child {
                                float: right;
                            }
                            div.list ul li:first-child {
                                float: left;
                            }
div.list a {
    color: inherit;
}*/


div.posts {
        display: table;
    }
    div.posts a {
        color: inherit;
    }
    div.posts ul {
        display: table;
        width: 100%;
        border-bottom: 1px dashed #f1f1f1;
        padding: 7px;
    }
        div.posts ul:last-child {
            border-bottom: none;
        }
        div.posts ul:hover {
            background-color: #f9f9f9;
        }
        div.posts ul li:first-child {
            font-weight: bold;
            font-family: 'Trebuchet MS';
            color: #1FA2E1;
        }
        div.posts ul li:last-child {
            padding-left: 5px;
            border-left: 2px solid #ccc;
            margin-left: 2px;
        }

div.post ul.info {
    border-top: 1px dotted gray;
}
    div.post ul.info li {
        display: inline-block;
        margin-right: 15px;
    }
    div.post ul.info li:last-child {
        margin-right: 0;
    }
    div.post ul.info li:last-child:hover {
        color: darkred;
    }
    div.post ul.info li a {
        color: inherit;
    }
div.post ul.content {
    text-align: justify;
}
    div.post ul.content li.image img {
        display: table;
        float: left;
        border: 1px solid #000;
        max-width: 250px;
        max-height: 250px;
        padding: 3px;
        margin: 5px 7px 0 0;
    }
div.createcomment {
    display: none;
    padding-bottom: 5px;
    border-bottom: 1px dotted #ccc;
}
div.comments ul {
    background-color: #f9f9f9;
    padding: 5px;
    margin: 3px 0;
}
    div.comments ul li:first-child {
        font-weight: bold;
    }
    div.comments ul li:first-child span {
        float: right;
        font-weight: normal;
        font-size: 13px;
    }



div.warning {
    text-align: center;
}
/*MODAL STYLE*/
div.modal {
    position: fixed;
    display: none;
    background-color: rgba(0, 0, 0, 0.2);
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
div.modalcontent {
    position: fixed;
    display: none;
    background: #fff;
    min-height: 75px;
    border: 1px solid #ccc;
}
    div.modalcontent div.title {
        display: inline-table;
        background-color: #f5f5f5;
        border-bottom: 2px solid #ddd;
        width: 100%;
        padding: 5px;
        font-family: 'Trebuchet MS';
        color: #383838;
        font-weight: bold;
        font-size: 16px;
    }
    div.modalcontent span.close {
        position: absolute;
        right: 5px;
        padding: 5px;
        font-family: Verdana;
        color: #c1c1c1;
        font-size: 15px;
        font-weight: bold;
    }
        div.modalcontent span.close:hover {
            padding: 5px;
            color: #333;
            cursor: pointer;
        }
    div.modalcontent div.content {
        display: table;
        width: 500px;
        max-width: 750px;
        padding: 5px;
    }
    div.modalcontent div.buttons {
        padding: 7px;
        text-align: right;
        margin: 0;
    }
    div.modalcontent div.success {
        background: url('images/success_bg.jpg') no-repeat right bottom;
        height: 150px;
        font-size: 15px;
        line-height: 25px;
        padding: 50px 10px;
        color: Green;
    }
    div.modalcontent div.error {
        background: url('images/error_bg.jpg') no-repeat right bottom;
        height: 150px;
        font-size: 15px;
        line-height: 25px;
        padding: 50px 10px;
        color: Red;
    }
    div.modalcontent span.info {
        display: table;
        float: left;
        line-height: 28px;
    }
    div.modalcontent ul, div.modalcontent li, div.modalcontent div {
        min-width: 500px;
    }

    div.groups ul li.name {
        font-size: 17px;
    }
    div.groups ul li.name span {
        font-size: 14px;
    }
    div.categories ul li.name {
        font-size: 17px;
    }
    div.categories ul li.name span {
        font-size: 14px;
    }
div.list ul.first {
    background-color: #fff;
}
div.list ul.second {
    background-color: #f9f9f9;
}
div.categories ul {
}
    div.list ul li.image {
        float: left;
        padding-right: 10px;
    }
        div.list ul li.image img {
            display: table;
            width: 50px;
            height: 50px;
        }
    div.list ul li.info {
        padding-right: 5px;
        float: right;
        margin-top: -45px;
    }
div.list ul li.name {
    font-size: 17px;
}
    div.list ul li.name span {
        font-size: 14px;
    }
    
div.factories ul li.name {
    font-size: 17px;
}
    div.factories ul li.name span {
        font-size: 14px;
    }
div.activities ul li.name {
    font-size: 17px;
}
    div.activities ul li.name span {
        font-size: 14px;
    }
div.missions ul li.name {
    font-size: 17px;
}
div.missions ul li.name span {
        font-size: 14px;
    }
div.members ul li.name {
    font-size: 17px;
}
div.members ul li.name span {
    font-size: 14px;
}
div.list ul {
    display: table;
    width: 100%;
    padding: 10px 7px;
}
div.list a {
    color: inherit;
}