
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Tools</title>
    <style type="text/css">
        body {
            font-family: Consolas;
            font-size: medium;
        }
    </style>
</head>
<body>
    <div style="margin: 15% auto; width: 250px;">
        <div><a href="/chars">Chars</a></div>
        <div><a href="/formatter">Formatter</a></div>
        <div><a href="/requester">Requester</a></div>
    </div>
</body>
</html>
