@{
    ViewBag.ActiveLink = "linkCampaigns";
}

<div style="width: 80%;">
    <div style="background-color: rgba(54, 54, 54, .75); display: table; width: 100%; padding: 20px; margin: 10px;">
        <h2>Campaigns</h2>
        <div>BKM Ekspress ile ilk alışverişinize 20TL indirim</div>
        <div>Maximum kartınız ile yapacağınız her alışverişte 20km bizden</div>
    </div>
</div>