body {
    background-color: #ddd;
    margin: 0;
    padding: 0;
    font-size: .85em;
    font-family: 'Segoe UI', Tahoma, Arial, Helvetica, sans-serif;
    color: #363636;
    cursor: default;
    overflow: no-display;
}
div, ul, li, span {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
ul, li {
    padding: 0;
    margin: 0;
    list-style: none;
}
div.page {
    background-color: #f5f5f5;
    border-top: 0;
    border-bottom: 0;
    width: 880px;
    margin: 0 10% 0 28%;
}
    div.page div.top {
        position: fixed;
        display: table;
        background-color: #eee;
        height: 5%;
        padding: 5px;
        border-bottom: 2px solid #ccc;
        font-size: 18px;
        font-weight: bold;
        text-align: right; /*or center*/
    }
    div.page div.main {
        display: table;
        width: 100%;
        height: 94%;
    }
        div.page div.main div.left {
            position: fixed;
            top: 0;
            left: 8%;
            background-color: #eee;
            display: table;
            float: left;
            width: 20%;
            height: 100%;
            border-right: 2px solid #ccc;
            padding: 5px 0;
        }
            div.page div.main div.left div.title {
                font-size: 18px;
                font-weight: bold;
                text-align: center;
            }
            div.page div.main div.left div.menu {
                display: table;
                width: 100%;
                margin-top: 5px;
            }
                div.page div.main div.left div.menu ul {
                    display: table;
                    width: 100%;
                }
                    div.page div.main div.left div.menu ul li {
                        display: table;
                        width: 100%;
                        border-bottom: 1px dotted #ccc;
                        padding: 10px 15px;
                    }
                        div.page div.main div.left div.menu ul li:first-child {
                            border-top: 2px solid #ccc;
                        }
                        div.page div.main div.left div.menu ul li:hover:not(.active) {
                            background-color: #ccc;
                            cursor: pointer;
                        }
                        div.page div.main div.left div.menu ul li:active:not(.active) {
                            background-color: gray;
                            color: white;
                        }
                        div.page div.main div.left div.menu ul li.active {
                            font-weight: bold;
                            cursor: default;
                        }
                        div.page div.main div.left div.menu ul li div:first-child {
                            margin-top: 5px;
                        }
                        div.page div.main div.left div.menu ul li div {
                            font-weight: normal;
                            padding: 5px;
                            margin: 0 5px;
                        }
                            div.page div.main div.left div.menu ul li div:hover:not(.active) {
                                background-color: #f5f5f5;
                                cursor: pointer;
                            }
                            div.page div.main div.left div.menu ul li div:active:not(.active) {
                                background-color: #ddd;
                            }
                            div.page div.main div.left div.menu ul li div.active {
                                font-weight: bold;
                            }
        div.page div.main div.right {
            display: table;
            width: 100%;
            height: 100%;
            padding: 5px;
            margin-top: 38px;
        }
    div.page div.bottom {
        position: fixed;
        display: table;
        background-color: #fff;
        bottom: 0;
        height: 6%;
        line-height: 37px;
        padding-left: 5px;
        font-weight: bold;
    }
        div.page div.bottom span.green {
            display: table;
            width: 100%;
            color: green;
        }
        div.page div.bottom span.red {
            display: table;
            width: 100%;
            color: red;
        }


div.titles {
    display: table; 
    width: 100%;
    padding-top: 4px;
}
    div.titles ul {
        display: inline-table;
        background-color: #e9e9e9;
        width: 49%;
        height: 175px;
        margin: 0 4px 7px 4px;
        padding: 7px;
    }
        div.titles ul:hover:not(:active) {
            background-color: #e1e1e1;
            cursor: pointer;
        }
        div.titles ul:active, div.titles ul:active li {
            background-color: gray;
            color: #fff;
        }
        div.titles ul.small {
            width: 24.1%;
        }
        div.titles ul li {
            font-size: 15px;
            line-height: 28px;
            color: gray;
        }
        div.titles ul li:first-child {
            font-size: 17px;
            font-weight: bold;
        }
            div.titles ul li b {
                display: inline-table;
                min-width: 50px;
                vertical-align: top;
                font-family: 'Agency FB';
                font-size: 24px;
                text-align: right;
                padding-right: 10px;
            }

div.list {
    display: table;
    width: 100%;
}
    div.list ul {
        display: table;
        background-color: #fbfbfb;
        width: 100%;
        margin-bottom: 3px;
        padding: 5px;
    }
        div.list ul.second {
            background-color: #fefefe;
        }
        div.list ul.third {
            background-color: #f8f8f8;
            width: 97%;
            float: right;
            border-left: 3px solid #ccc;
        }
        div.list ul:hover {
            background-color: #eee;
            outline: 1px solid gray;
        }
        div.list ul li {
            display: inline-table;
        }
            div.list ul li.manage {
                float: right;
            }

div.detail {
    display: table;
    width: 100%;
}
    div.detail ul {
        display: table;
        width: 100%;
        line-height: 35px;
    }
        div.detail ul li {
            display: inline-table;
            float: left;
        }
            div.detail ul li:first-child {
                width: 20%;
                font-weight: bold;
            }
            div.detail ul li:last-child {
                width: 75%;
            }
                div.detail ul li:last-child small {
                    padding-left: 5px;
                }
        div.detail ul.full-style li:first-child {
            width: 100%;
        }
            
div.form {
    display: table;
    width: 100%;
}
    div.form ul {
        display: table;
        line-height: 35px;
        width: 100%;
    }
        div.form ul li {
            display: inline-table;
            float: left;
            width: 100%;
        }
            div.form ul li:first-child {
                display: table;
                background-color: #e9e9e9;
                border-left: 10px solid #ccc;
                padding: 0 5px;
                font-weight: bold;
            }
            div.form ul li:last-child {
                width: 100%;
                margin: 3px 0;
            }
                div.form ul li:last-child small {
                    padding-left: 5px;
                }
        div.form ul.full-style li:first-child {
            width: 100%;
        }

input[type="text"], input[type="password"], input[type="number"], select, textarea {
    background-color: #fcfcfc;
    min-width: 50%;
    border: 0;
    outline: none;
    padding: 6px;
    font-size: 10pt;
    font-family: 'Segoe UI';
    color: #666;
}
textarea {
    min-width: 97%;
    max-width: 800px;
    min-height: 100px;
    max-height: 200px;
}
select, input[type="number"] {
    min-width: 150px;
}
input {
    background-color: #ddd;
    border: 0;
    margin: 0 5px 0 0;
    padding: 6px 14px;
    color: gray;
}
    input[type="button"]:hover, input[type="submit"]:hover {
        background-color: gray;
        color: #fff;
        cursor: pointer;
    }
    input[type="button"]:active, input[type="submit"]:active {
        background-color: #000;
        color: #fff;
    }

            
div.paging { display: table; background-color: #fff; float: right; line-height: 18px; padding: 2px 10px; margin-bottom: 7px; font-size: 12px; color: #666; }
div.paging ul li { display: inline-block; font-weight: bold; margin: 2px; }
div.paging ul li img { vertical-align: middle; }
div.paging ul li.first img { background: url('images/first.gif') center center no-repeat; padding: 8px; }
div.paging ul li.previous img { background: url('images/previous.gif') center center no-repeat; padding: 8px; }
div.paging ul li.next img { background: url('images/next.gif') center center no-repeat; padding: 8px; }
div.paging ul li.last img { background: url('images/last.gif') center center no-repeat; padding: 8px; }
div.paging ul li a { text-decoration: none; padding: 2px 6px 2px 6px; color: #000; }
div.paging ul li a:hover { background-color: #f5f5f5; color: #000; padding: 1px 5px 1px 5px; border: 1px solid Gray; cursor: pointer; }
div.paging ul li.active { background-color: #eee; color: Black; padding: 1px 5px 1px 5px; border: 1px solid gray; cursor: default; }
/*display: none;*/
div.paging div.prevpage { display: none; position: fixed; background: #fff url('images/prev.png') no-repeat center center; width: 15px; padding: 50px 10px; opacity: 0.3; border-radius: 5px 0 0 5px; -webkit-border-radius: 5px 0 0 5px; -moz-border-radius: 5px 0 0 5px; box-shadow: 0 0 25px #fff; -webkit-box-shadow: 0 0 25px #fff; -moz-box-shadow: 0 0 25px #fff; }
div.paging div.nextpage { display: none; position: fixed; background: #fff url('images/next.png') no-repeat center center; width: 15px; padding: 50px 10px; opacity: 0.3; border-radius: 0 5px 5px 0; -webkit-border-radius: 0 5px 5px 0; -moz-border-radius: 0 5px 5px 0; box-shadow: 0 0 25px #fff; -webkit-box-shadow: 0 0 25px #fff; -moz-box-shadow: 0 0 25px #fff; }
div.paging div.prevpage:hover { cursor: pointer; opacity: 0.7; }
div.paging div.nextpage:hover { cursor: pointer; opacity: 0.7; }


a.approved {
    display: inline-block;
    background: url('images/approved.png') no-repeat;
    padding: 8px;
    margin: 8px 5px;
}
a.deprecated {
    display: inline-block;
    background: url('images/deprecated.png') no-repeat;
    padding: 8px;
    margin: 8px 5px;
}
a.banned {
    display: inline-block;
    background: url('images/approved.png') no-repeat;
    padding: 8px;
    margin: 8px 5px;
}
a.unbanned {
    display: inline-block;
    background: url('images/deprecated.png') no-repeat;
    padding: 8px;
    margin: 8px 5px;
}
a.view {
    display: inline-block;
    background: url('images/view.png') no-repeat;
    padding: 8px;
    margin: 8px 5px;
}
a.edit {
    display: inline-block;
    background: url('images/edit.png') no-repeat;
    padding: 8px;
    margin: 8px 5px;
}
a.details {
    display: inline-block;
    background: url('images/detail.png') no-repeat;
    padding: 8px;
    margin: 8px 5px;
}
a.delete {
    display: inline-block;
    background: url('images/delete.png') no-repeat;
    padding: 8px;
    margin: 8px 5px;
}