@{
    Layout = "";
    ViewBag.Title = BGKFunction.GetConfig("site-name");
}
<script type="text/javascript">
    $(function () {
        $.BGK.ErrorModal('Bu alana ulaşmak için yetkiniz yok :(');
    });
</script>

<body style="margin: 0;">
    <div style="display: table; width: 100%; border: 2px solid red; border-left: none; border-right: none; margin: 15% auto; padding: 25px; color: white; background-color: rgba(255, 0, 0, 0.5); font-family: 'Segoe UI SemiLight', 'Segoe UI'; font-size: 25px; text-align: center;">
        Bu alana ulaşmak için yetkiniz yok :(
    </div>
</body>