@model Obisis.Ogrenci
@{
    if (Request.QueryString["type"] == "partial")
    {
        Layout = "";
    }
    ViewBag.menuID = "obisis_mydepartment";
}

<div class="list">
    <ul>
        <li>@Model.Bolum</li>
    </ul>
</div>