
<div class="table">
    <div class="title">Kısaca BGK</div>
    <div class="content" style="text-align: justify;">
        Bilgi Güvenliği Kulübü, bilgisayar ve bilişim dünyasına ilgi duyan ve yenilikçi fikirlerini düşünmekle kalmayıp uygulamak isteyen Erciyes Üniversitesi girişimci öğrencileri tarafından kurulmuş bir öğrenci kulübüdür.
        <br /><br />  
        Gelişen yeni fikir ve tekniklerle Erciyes Üniversitesi'nin bilgi güvenliğini sağlamak ve eksiklerini tamamlamak, teknoloji dünyasıyla ilgili araştırmalar yapmak.
    </div>
</div>