

<div class="table">
    <div class="content">
        <div class="sections">
            <a href="@Url.Action("index", "missioncategory")" style="width: 50%;">Kategoriler</a>
            <a class="active" href="@Url.Action("index", "mission")" style="width: 49.9%;">Görevler</a>
        </div>
    </div>
</div>
