<?xml version="1.0"?>
<configuration>

  <system.web>
    <customErrors mode="Off" />
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  <system.serviceModel>
    <client>
      <endpoint address="http://obisis.erciyes.edu.tr/mws/ObisisMobileService.svc"
        binding="basicHttpBinding"
        contract="ObisisMobileService.IObisisMobileService" name="BasicHttpBinding_IObisisMobileService" />
      <endpoint address="http://mobil.erciyes.edu.tr/EruServiceWeb/EruWebServis.svc"
        binding="basicHttpBinding"
        contract="ErciyesMobileService.IEruWebServis" name="BasicHttpBinding_IEruWebServis" />
    </client>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />

    <services>
      <service behaviorConfiguration="WebServiceBehavior" name="ObisisService.Service">
        <endpoint address="" binding="webHttpBinding" contract="ObisisService.IService" behaviorConfiguration="jsonBehavior" />
        <endpoint address="soap" binding="basicHttpBinding" contract="ObisisService.IService"/>
      </service>
    </services>

    <behaviors>
      <endpointBehaviors>
        <behavior name="jsonBehavior">
          <webHttp defaultOutgoingResponseFormat="Json" />
        </behavior>
      </endpointBehaviors>

      <serviceBehaviors>
        <behavior name="WebServiceBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>

    <bindings>
      <webHttpBinding>
        <binding crossDomainScriptAccessEnabled="true" name="httpBinding" />
      </webHttpBinding>
    </bindings>

  </system.serviceModel>


  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <directoryBrowse enabled="true"/>
  </system.webServer>

</configuration>